.header
{
    height: 130px;
    border: solid black 2px;
    width: 100%;
    background-color: #303030;
}
.logoTekst{
    color: #ff8b67;
    font-size: 70px;
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 20px;
    
    position: absolute;
}
.logo
{
    padding-top: 10px;
    float: left;
}
.logo img 
{
    height: 120px;
    width: 120px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}
.logowanie
{
    float: right;
    width: 40%;
    border: solid red 2px;
    color: white;
}

.logowanie form
{
    float: right;
}
.logowanie button{
    float: right;
}

.kategorie
{
    height: 50px;
    color: white;
    width: 100%;
    background-color: black;
    text-align: center;
    padding-top: 7px;
    font-size: 20px;
}
.glowna
{
    margin-left: 400px;
    width: 12%;
    height: 100%;
    float: left;
}
.kategorieSeriali
{
    width: 12%;
    height: 100%;
    float: left; 
}
.seriale
{
    width: 12%;
    height: 100%;
    float: left;
}
.ranking
{
    width: 12%;
    height: 100%;
    float: left;
}
.aktorzy
{
    width: 12%;
    height: 100%;
    float: left;  
}

.footer
{
    height: 45px;
    border: solid black 2px;
    width: 100%;
    bottom: 0;
}
.kontakt
{
    width: 100%;
    float: left;
    height: 45px;
    color: white;
    background-color: black;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
    
}
.stopa{
    margin-left: 740px;
    margin-top: 8px;
    position: absolute;
}
.stopa2{
    margin-left: 980px;
    margin-top: 8px;
    position: absolute;
}

a 
{
    text-decoration: none;
    color:  white;
}
 a:hover
{
     color: #ff8b67;
}
.blad
{
    color: red;
}
.wiersz
{
    border: red solid 2px;
    width: 90%
}
.body_rejestracja{
    background-color: #303030;
    font-family: 'Trebuchet MS', sans-serif;
}
.rej_box{
    color: #ff8b67;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    text-align: center;
    border-radius: 30px;

}
.rej_box input[type= "text"]{
    border: 0;
    background: none;
    display: block;
    margin: 10px auto;
    text-align: center ;
    border: 2px solid #ff8b67;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #ff8b67;
    border-radius: 24px;
}
.rej_box input[type= "text"]:focus{
    width: 280px;
    color: #ff8b67;
}
.rej_box input[type= "submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 1px auto;
    text-align: center ;
    border: 2px solid #ff8b67;
    padding: 9px 40px;
    width: 200px;
    outline: none;
    color: #ff8b67;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.rej_box input[type= "submit"]:hover{
    background-color: #ff8b67;
    color: black;
}






.inner
{
    border: orange solid 2px;
    
}
.fauxcrop
{
    border: blue solid 2px;
    
}
.ct-blog-content
{
    border: gray solid 2px;
    float: left;
}
.ct-blog-header
{
    border: green solid 2px;
}

.serialbox img{
    height: 200px;
    width: 200px;
    object-fit: contain;
}
.serialboxoffice{

    flex-direction: column
}